/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;     background-color: #f4f6f9; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.nav-sidebar .nav-item .nav-icon {
  margin-left: .05rem;
  font-size: 1rem;
  margin-right: .2rem;
  text-align: center;
  width: 1.6rem;
}
.nav-sidebar .nav-item .nav-icon.fa, .nav-sidebar>.nav-item .nav-icon.fab, .nav-sidebar>.nav-item .nav-icon.fad, .nav-sidebar>.nav-item .nav-icon.fal, .nav-sidebar>.nav-item .nav-icon.far, .nav-sidebar>.nav-item .nav-icon.fas, .nav-sidebar>.nav-item .nav-icon.ion, .nav-sidebar>.nav-item .nav-icon.svg-inline--fa {
  font-size: 1.1rem;
}
.fw-normal{
  color: red;
}

.text-bg-secondary {
  color: #fff!important;
  background-color: gray!important;
}
.text-bg-success {
  color: #fff!important;
  background-color: green!important;
}

.modal-backdrop {
  z-index: -1 !important;
}
